.item-card {
  padding: 10px;
  border: 2px solid var(--foreground-default);
  background: var(--foreground-tertiary);
  border-radius: 3px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .item-img-container {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--foreground-border);
    margin-bottom: 10px;

    .item-img {
      width: 100%;
    }
  }

  .item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    .item-title {
      color: var(--foreground-text-primary);
      font-weight: 700;
    }

    .item-description {
      font-size: 12px;
      color: var(--foreground-text-secondary);
    }

    .item-price {
      color: var(--foreground-text-primary);
      display: flex;
      justify-content: space-between;
      bottom: 0;
      align-items: center;
      flex-grow: 1;
      align-items: flex-end;
      margin-bottom: 0;
    }

    & > * {
      margin-bottom: 8px;
    }
  }

  .action-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--foreground-text-primary);
    font-weight: 700;
    border-bottom: 2px solid var(--foreground-text-primary);
  }

  &.cart-view-item {
    display: grid;
    grid-template-columns: 50px auto 12px;
    gap: 8px;

    .item-img-container {
      padding: 0;
      margin: 0;
      border: none;
      display: flex;
    }

    .item-details {
      .item-title {
        font-size: 12px;
      }

      .item-price {
        font-size: 11px;
        font-weight: 700;
      }
    }

    .cart-delete-container {
      .cart-del-btn {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}

cc-item-card {
  height: 100%;
}