<!-- <div class="item-card" (click)="openItemDetails()" (keydown)="openItemOnKeydown($event)"
  [tabindex]="cartView ? -1 : 0" [ngClass]="{'cart-view-item': cartView}">
  <div class="item-img-container">
    <img class="item-img" src="{{ imgUrl }}" alt="{{ name }}" />
  </div>
  <div class="item-details">
    <div class="item-title">
      <span>{{ name }}</span>
    </div>
    <div *ngIf="!cartView" class="item-description">
      <span>{{ description }}</span>
    </div>
    <div class="item-price">
      <span>{{ locService.getCurrencyText(price) }}</span>
      <div class="action-btn-container" *ngIf="!cartView">
        <button *ngIf="!isAllItem" class="update-btn action-btn" (click)="onUpdate()">Update</button>
        <button *ngIf="isAllItem" class="add-user-item-btn action-btn" (click)="addItemToUser($event)">Add To My Item</button>
      </div>
    </div>
  </div>
  <div *ngIf="cartView" class="cart-delete-container">
    <button (click)="removeFromCart($event)" class="cart-del-btn">✖</button>
  </div>
</div> -->

<cc-item-card [cardClick]="openItemDetails.bind(this)" 
[cardKeydown]="openItemOnKeydown.bind(this)" 
[item]="item"></cc-item-card>