<div class="login-container">
  <h2 class="form-title">Login</h2>
  <form #loginFormElem="ngForm" [formGroup]="loginForm">
    <custom-itextinput (onInput)="valueChange($event)" [inputId]="'username'" [inputName]="'email'" [inputLabel]="'Username'" [inputType]="'text'" [inputPlaceholder]="'Enter Username'">
      <span class="help-block" *ngIf="isValidEmail()">
        <span *ngIf="loginForm.get('email').errors['required']">Field is required.</span>
        <span *ngIf="!loginForm.get('email').valid">Email is invalid.</span>
      </span>
    </custom-itextinput>
    
    <custom-itextinput (onInput)="valueChange($event)" [inputId]="'password'" [inputName]="'password'" [inputLabel]="'Password'" [inputType]="'password'" [inputPlaceholder]="'Enter Password'"></custom-itextinput>
    
    <custom-button (customBtnTrigger)="onSubmit()" [btnId]="'login'" [btnName]="'login'" [btnLabel]="'Login'"></custom-button>
  </form>
  <div class="register-container">
    <custom-button (customBtnTrigger)="redirectToRegister()" btnType="link" btnId='go-to-register' btnName='go-to-register' btnLabel='Go To Register'></custom-button>
  </div>
</div>
<!-- validation using regex -->