<div class="header-container">
  <div class="title-container">
    <h1>{{i18n('title')}}</h1>
  </div>
  <div class="theme-toggle-container">
    <custom-toggle class="custom-toggle-btn" [customClick]="toggleTheme.bind(this)" [theme]="getTheme()"></custom-toggle>
    <button *ngIf="userService.loginStatus" (click)='addProduct()' class="action-btn">{{i18n('header.add-product-btn')}}</button>
    <!-- <button (click)="toggleTheme()">Theme</button> -->
    <custom-dropdown *ngIf="userService.loginStatus" [btnLabel]="'☰'" (onDropdownOptionSelected)="onDropdownOption($event.detail.value)"
     [ariaLabel]="'test label'" [optionList]="optionList"
     [addArrowHead]='true' [side]='side'></custom-dropdown>
  </div>
</div>
