.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--foreground-default);
  color: var(--foreground-text-title);
  border-bottom: 3px solid var(--foreground-secondary);

  h1 {
    margin: 0;
  }

  .theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;

    .action-btn {
      background: transparent;
      color: var(--foreground-tertiary);
      font-size: 16px;
      border: none;
      border-bottom: 2px solid var(--foreground-tertiary);
      cursor: pointer;
    }

    .ham-menu-button {
      text-align: center;
      font-size: 22px;
      line-height: 22px;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      color: #fff;
    }

    .ham-menu-list {
      position: absolute;
      background-color: white;
      top: 100%;
      right: 5px;
      padding: 10px;
      border: 2px solid var(--foreground-secondary);
      display: flex;

      &:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--foreground-secondary) transparent;
      }

      .ham-menu-item {
        padding: 5px 10px;
        box-sizing: border-box;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid transparent;
        columns: var(--foreground-secondary);
        width: 100px;
      }

      .ham-menu-item:hover {
        border-bottom: 2px solid var(--foreground-secondary);
      }
    }
  }
}
