<div class="register-container">
  <h2 class="form-title">Register</h2>
  <form [formGroup]="registerForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <!-- <span class="help-block" *ngIf="registerForm.get('name').touched">
        <span *ngIf="registerForm.get('name').errors['required']">Name is required</span>
      </span> -->
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <!-- <span class="help-block" *ngIf="!registerForm.get('email').valid&&registerForm.get('email').touched">
        <span *ngIf="!registerForm.get('email').valid">Email is invalid</span>
        <span *ngIf="registerForm.get('email').errors['required']">Email is required</span>
      </span> -->
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" formControlName="phone">
      <!-- <span class="help-block" *ngIf="!registerForm.get('phone').valid&&registerForm.get('email').touched">
        <span *ngIf="!registerForm.get('phone').valid">Phone is invalid</span>
        <span *ngIf="registerForm.get('phone').errors['required']">Phone is required</span>
      </span> -->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" id="cpassword" formControlName="cpassword">
      <span class="help-block" *ngIf="!registerForm.get('cpassword').valid&&registerForm.get('cpassword').touched">
        <span *ngIf="!registerForm.get('cpassword').errors['validCpass']">Pass is invalid</span>
      </span>
    </div>
    <button class="register-btn" type="submit">Register</button>
  </form>
  <div class="login-container">
    <button class="go-to-login-contianer" (click)="redirectToLogin()">Go To Login</button>
  </div>
</div>
