<div class="register-container">
  <h2 class="form-title">{{i18n('register.title')}}</h2>
  <form [formGroup]="registerForm">
    <custom-itextinput (input-val-change)="valueChange($event)" [inputId]="'name'" [inputName]="'name'" [inputLabel]="'Name'" [inputType]="'text'" [inputPlaceholder]="'Enter name'"></custom-itextinput>

    <custom-itextinput (input-val-change)="valueChange($event)" [inputId]="'email'" [inputName]="'email'" [inputLabel]="'E-mail'" [inputType]="'text'" [inputPlaceholder]="'Enter email'">
      <span class="help-block" *ngIf="!registerForm.get('email').valid&&registerForm.get('email').touched">
        <span *ngIf="!registerForm.get('email').valid">{{getFormValidationErr('register.errors.email-invalid')}}</span>
      </span>
    </custom-itextinput>
    
    <custom-itextinput (input-val-change)="valueChange($event)" [inputId]="'phone'" [inputName]="'phone'" [inputLabel]="'Phone'" [inputType]="'number'" [inputPlaceholder]="'Enter phone'">
      <span class="help-block" *ngIf="!registerForm.get('phone').valid && registerForm.get('phone').touched">
        <span *ngIf="registerForm.get('phone').errors.pattern">{{getFormValidationErr('register.errors.phone-invalid')}}</span>
      </span>
    </custom-itextinput>

    <custom-itextinput (input-val-change)="valueChange($event)" [inputId]="'password'" [inputName]="'password'" [inputLabel]="'Password'" [inputType]="'password'" [inputPlaceholder]="'Enter Password'">
      <span class="help-block" *ngIf="!registerForm.get('password').valid&&registerForm.get('password').touched">
        <span *ngIf="validatePassword() == 'min'">{{getFormValidationErr('register.errors.pass-min')}}</span>
        <span *ngIf="validatePassword() == 'max'">{{getFormValidationErr('register.errors.pass-max')}}</span>
      </span>
    </custom-itextinput>

    <custom-itextinput (input-val-change)="valueChange($event)" [inputId]="'cpassword'" [inputName]="'cpassword'" [inputLabel]="'Confirm Password'" [inputType]="'password'" [inputPlaceholder]="'Enter Confirm Password'">
      <span class="help-block" *ngIf="!registerForm.get('cpassword').valid&&registerForm.get('cpassword').touched">
        <span *ngIf="!registerForm.get('cpassword').errors['validCpass']">{{getFormValidationErr('register.errors.confirm-pass-invalid')}}</span>
      </span>
    </custom-itextinput>

    <custom-button (customBtnTrigger)="onSubmit()" [btnId]="'register'" [btnName]="'register'" [btnLabel]="'Register'"></custom-button>

  </form>
  <div class="login-container">
    <custom-button (customBtnTrigger)="redirectToLogin()" [btnId]="'go-to-login'" btnType="link" [btnName]="'go-to-login'" [btnLabel]="'Go to Login'"></custom-button>
  </div>
</div>
